:root {
  --primary-color: darkorange;
  --secondary-color: darkgrey;
  --tertiary-color: black;
}

/* Entire Header */
header {
  width: 100%;
  display: flex;
  height: 90px;
  background-color: darkorange;
  color: darkorange;
}

header h1 {
  width: 125%;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

/* header style */
#headerLabel {
  min-width: 15%;
  width: 9%;
  display: inline-block;
  margin-bottom: 75px;
}

#headerNav {
  width: 75%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: darkorange;
}

/* Header H1 txt */
#headerLabel h1 {
  background-color: black;
  font-size: 45px;
  font-weight: 60em;
  text-align: right;
}

/* Navigation Block on Right */
#headerNav nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  float: right;
}

/* Banner */
#banner {
  display: flex;
  width: 100%;
  height: 200px;
  background-image: url(./assets/images/background-img.png);
  background-size: cover;
  background-position: center;
}

#bannerText {
  font-size: 40px;
  font-weight: 600;
  background-color: darkorange;
  margin-top: auto;
  margin-left: auto;
  margin-right: 2em;
  margin-bottom: 1em;
}

.nav-block {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-decoration: underline;
  color: black;
}

.info-block {
  display: flex;
  flex-direction: row;
}

.info-block-header {
  margin: 50px;
  flex-direction: column;
}

.info-block-header h2 {
  font-size: 50px;
  font-weight: bold;
}

.info-block-content {
  display: flex;
  flex-wrap: wrap;
  border-left: solid darkorange 3px;
}

.info-block-content p {
  padding-left: 30px;
}

.info-block-content img {
  margin-left: 400px;
  border-radius: 10px 0px 10px 0px;
  border: 4px solid darkorange;
}

.parent-container {
  display: flex;
  flex-direction: row;
  margin: 70px;
}

.portfolio-style {
  margin: 50px;
}

.portfolio-style h2 {
  font-size: 50px;
  font-weight: bold;
}

.container-info {
  width: 100%;
}

.container-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: darkorange 3px solid;
  margin-left: 18px;
  padding-left: 2%;
}

.containers {
  display: flex;
  position: relative;
}

.container1 {
  border: 3px solid darkorange;
  color: rgb(255, 140, 0);
  width: 100%;
  height: 500px;
  margin: 0.5%;
  margin: 10px;
}

.container2 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 140, 0);
  width: 50%;
  height: 250px;
  margin: 10px;
}

.container3 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 140, 0);
  width: 50%;
  height: 250px;
  margin: 10px;
}

.container4 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 140, 0);
  width: 50%;
  height: 250px;
  margin: 10px;
}

.container5 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 140, 0);
  width: 50%;
  height: 250px;
  margin: 10px;
}

.container-style p {
  background-color: darkorange;
  color: darkblue;
  align-items: flex-start;
  margin-top: 160px;
  border: 3px solid black;
}

.container-style:hover {
  cursor: pointer;
  transform: scale(1);
  transform-origin: top left;
}

.web-links {
  position: absolute;
}

.web-links p {
  font-weight: bold;
  font-size: 55px;
  color: black;
  margin: 0;
  margin-top: 160px;
}

/* footer section */
footer {
  display: flex;
  height: 90px;
  min-height: 90px;
  width: 100%;
}

footer h2 {
  border-right: 3px solid darkorange;
  color: black;
}

#footerHeader {
  width: 9%;
  min-width: 15%;
  display: inline-block;
  margin: 15px;
}

#footerHeader h2 {
  font-weight: bold;
  font-size: 45px;
  display: inline-block;
  padding-right: 30px;
  padding-left: 50px;
}

#footerNav {
  width: 65%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: darkorange;
}

#footerNav nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  float: right;
  margin-top: 50px;
}
/* footer section ends*/
